# Variáveis de ambiente (NUNCA subir pro GitHub)
.env

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log